/*Classes com escopo local(funcionam somente no componente)*/

.luz {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 4px;
  background-color: white;
  
}

.vermelho {
  background-color: red;
}

.amarelo {
  background-color: yellow;
}

.verde {
  background-color: green;
}

.cinza {
  background-color: gray;
}
